[Unit]
Description=secretd

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
#ExecStartPre=/usr/bin/docker pull enigmampc/secret-network-bootstrap-sw:latest
ExecStart=docker run \
  -t --rm --name %n \
  -p 26657:26657 -p 26656:26656 -p 1317:1317 \
  enigmampc/secret-network-bootstrap-sw:latest
